@model ServicuerosSA.Models.Bodegatripa

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bodegatripa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClasificacionTripa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClasificacionTripa.ClasificacionTripaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descarnes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descarnes.Cantidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BodegaTripaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
