@model IEnumerable<ServicuerosSA.Models.ClasificacionTripa>

@{
    ViewData["Title"] = "Index";
}

<h2>Clasificacion Tripa </h2>

<p>
    <a asp-action="Create">Crear un nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Detalle)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClasificacionTripaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ClasificacionTripaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ClasificacionTripaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
