@model ServicuerosSA.Models.Escurrido

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Escurrido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodigoLote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodigoLote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bombos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bombos.BomboId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EscurridoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
